<div class="card mb-3">
  <h2 class="card-header h4">
    Direct Message #<%= direct_message.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Sender</dt>
      <!-- Display sender_id start -->
      <dd><%= direct_message.sender_id %></dd>
      <!-- Display sender_id end -->

      <dt>Recipient</dt>
      <!-- Display recipient_id start -->
      <dd><%= direct_message.recipient_id %></dd>
      <!-- Display recipient_id end -->

      <dt>Body</dt>
      <!-- Display body start -->
      <dd><%= direct_message.body %></dd>
      <!-- Display body end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back direct_message, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link direct_message start -->
      <div class="col">
        <%= link_to edit_direct_message_url(direct_message), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link direct_message end -->

      <!-- Delete link direct_message start -->
      <div class="col">
        <%= link_to direct_message, method: :delete, data: { confirm: "Do you really want to delete this direct_message?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link direct_message end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(direct_message.updated_at) %> ago
  </div>
</div>
