<%= form_with(model: @post, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :reply_to_id %>

    <%= f.text_field :reply_to_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :repost_of_id %>

    <%= f.text_field :repost_of_id, class: "form-control" %>
  </div>

  <%= f.submit "Create post", class: "btn btn-block btn-outline-secondary" %>
<% end %>
