<%= form_with(model: @direct_message, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :sender_id %>

    <%= f.text_field :sender_id, class: "form-control" %>
  </div>

  <%= f.hidden_field :recipient_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create direct message", class: "btn btn-block btn-outline-secondary" %>
<% end %>
