<% was_validated = follow.errors.any? %>

<%= form_with(model: follow, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for follower_id start -->
  <div class="form-group">
    <% follower_class = "form-control" %>
    <% follower_was_invalid = follow.errors.include?(:follower) %>

    <% if was_validated %>
      <% if follower_was_invalid %>
        <% follower_class << " is-invalid" %>
      <% else %>
        <% follower_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :follower_id %>
    <!-- Input for follower_id start -->
    <%= f.number_field :follower_id, class: follower_class, placeholder: "Enter follower" %>
    <!-- Input for follower_id end -->
    <% if follower_was_invalid %>
      <% follow.errors.full_messages_for(:follower).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for follower_id end -->
  <!-- Label and input for following_id start -->
  <div class="form-group">
    <% following_class = "form-control" %>
    <% following_was_invalid = follow.errors.include?(:following) %>

    <% if was_validated %>
      <% if following_was_invalid %>
        <% following_class << " is-invalid" %>
      <% else %>
        <% following_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :following_id %>
    <!-- Input for following_id start -->
    <%= f.number_field :following_id, class: following_class, placeholder: "Enter following" %>
    <!-- Input for following_id end -->
    <% if following_was_invalid %>
      <% follow.errors.full_messages_for(:following).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for following_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
